In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import dataframe
df = pd.read_csv("people_data_cleaning#2.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee ID                 4008 non-null   int64
 1   Department                  4008 non-null   int64
 2   Department Area             4008 non-null   float64
 3   Degree of Leadership        4008 non-null   int64
 4   Gender                      4008 non-null   int64
 5   Sexual Orientation          4008 non-null   int64
 6   Race                        4008 non-null   int64
 7   Age                         4008 non-null   int64
 8   Education                   4008 non-null   int64
 9   Work Environment            4008 non-null   int64
 10  City                        4008 non-null   int64
 11  Marital Status              4008 non-null   int64
 12  Full-Time or Contract       4008 non-null   int64
 13  Salary                      4008 non-null   int64
 14  Hire Date                   4008 non-null   object
 15  Termination Date            4008 non-null   object
 16  Years of Service            4008 non-null   int64
 17  Termination Type            4008 non-null   int64
 18  Termination Reason          4008 non-null   float64
 19  Employee Status             4008 non-null   int64
 20  Job Satisfaction            4008 non-null   int64
 21  Work Life Balance           4008 non-null   int64
 22  Years Since Last Promotion  4008 non-null   int64
 23  Performance Rating          4008 non-null   int64
dtypes: float64(2), int64(20), object(2)
memory usage: 751.6+ KB

In [8]:
print(df['Hire Date'].unique())

['6/28/17' '5/27/12' '2/12/17' ... '6/18/16' '12/24/18' '4/3/20']

In [10]:
def extract_year(date_str):
    year_str = date_str[-2:]  # Extract the last 2 characters of the string, which represent the year in YY format
    year_int = int(year_str)  # Convert the year string to an integer
    if year_int < 50:
        year_int += 2000  # Assume that years from 00-49 correspond to 2000-2049
    else:
        year_int += 1900  # Assume that years from 50-99 correspond to 1950-1999
    return str(year_int)  # Convert the year integer back to a string and return it

In [11]:
# Define the updated extract_year function
def extract_year(date_str):
    year_str = date_str[-2:]  # Extract the last 2 characters of the string, which represent the year in YY format
    year_int = int(year_str)  # Convert the year string to an integer
    if year_int < 50:
        year_int += 2000  # Assume that years from 00-49 correspond to 2000-2049
    else:
        year_int += 1900  # Assume that years from 50-99 correspond to 1950-1999
    return str(year_int)  # Convert the year integer back to a string and return it

# Apply the function to the "Hire Date" column and store the result in a new column
df['Hire Year'] = df['Hire Date'].apply(extract_year)

In [13]:
print(df['Hire Year'].unique())

['2017' '2012' '2020' '2014' '2019' '2018' '2015' '2016' '2021' '2013']

In [14]:
df = df.drop('Hire Date', axis=1)

In [15]:
# Define the updated extract_year function
def extract_year(date_str):
    if date_str == "0":  # Check if the date is "0"
        return "0000"  # Replace "0" with "0000"
    else:
        year_str = date_str[-2:]  # Extract the last 2 characters of the string, which represent the year in YY format
        year_int = int(year_str)  # Convert the year string to an integer
        if year_int < 50:
            year_int += 2000  # Assume that years from 00-49 correspond to 2000-2049
        else:
            year_int += 1900  # Assume that years from 50-99 correspond to 1950-1999
        return str(year_int)  # Convert the year integer back to a string and return it

# Apply the function to the "Termination Date" column and store the result in a new column
df['Termination Year'] = df['Termination Date'].apply(extract_year)

In [16]:
print(df['Termination Year'].unique())

['0000' '2019' '2014' '2015' '2018' '2020' '2013' '2016' '2021' '2017'
 '2012' '2022']

In [18]:
count = df['Termination Year'].value_counts()

print(count)

0000    3409
2021     145
2020      72
2018      62
2015      59
2019      58
2017      58
2016      56
2014      48
2013      28
2012       8
2022       5
Name: Termination Year, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee ID                 4008 non-null   int64
 1   Department                  4008 non-null   int64
 2   Department Area             4008 non-null   float64
 3   Degree of Leadership        4008 non-null   int64
 4   Gender                      4008 non-null   int64
 5   Sexual Orientation          4008 non-null   int64
 6   Race                        4008 non-null   int64
 7   Age                         4008 non-null   int64
 8   Education                   4008 non-null   int64
 9   Work Environment            4008 non-null   int64
 10  City                        4008 non-null   int64
 11  Marital Status              4008 non-null   int64
 12  Full-Time or Contract       4008 non-null   int64
 13  Salary                      4008 non-null   int64
 14  Termination Date            4008 non-null   object
 15  Years of Service            4008 non-null   int64
 16  Termination Type            4008 non-null   int64
 17  Termination Reason          4008 non-null   float64
 18  Employee Status             4008 non-null   int64
 19  Job Satisfaction            4008 non-null   int64
 20  Work Life Balance           4008 non-null   int64
 21  Years Since Last Promotion  4008 non-null   int64
 22  Performance Rating          4008 non-null   int64
 23  Hire Year                   4008 non-null   object
 24  Termination Year            4008 non-null   object
dtypes: float64(2), int64(20), object(3)
memory usage: 782.9+ KB

In [ ]:
df = df.drop('Termination Date', axis=1)
df = df.drop('Department Area', axis=1)

In [24]:
df = df.drop('Termination Type', axis=1)
df = df.drop('Termination Reason', axis=1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee ID                 4008 non-null   int64
 1   Department                  4008 non-null   int64
 2   Degree of Leadership        4008 non-null   int64
 3   Gender                      4008 non-null   int64
 4   Sexual Orientation          4008 non-null   int64
 5   Race                        4008 non-null   int64
 6   Age                         4008 non-null   int64
 7   Education                   4008 non-null   int64
 8   Work Environment            4008 non-null   int64
 9   City                        4008 non-null   int64
 10  Marital Status              4008 non-null   int64
 11  Full-Time or Contract       4008 non-null   int64
 12  Salary                      4008 non-null   int64
 13  Years of Service            4008 non-null   int64
 14  Employee Status             4008 non-null   int64
 15  Job Satisfaction            4008 non-null   int64
 16  Work Life Balance           4008 non-null   int64
 17  Years Since Last Promotion  4008 non-null   int64
 18  Performance Rating          4008 non-null   int64
 19  Hire Year                   4008 non-null   object
 20  Termination Year            4008 non-null   object
dtypes: int64(19), object(2)
memory usage: 657.7+ KB

In [26]:
# Rename specific columns
df = df.rename(columns={'Degree of Leadership': 'Position', 'Work Environment': 'Working Location', 'Full-Time or Contract': 'Emp. Type',
                       'Employee ID': 'Emp. ID', 'Employee Status': 'Active_Inactive', 'Termination Year': 'Term Year'})

# Print the updated DataFrame
print(df)

         Emp. ID  Department  Position  Gender  Sexual Orientation  Race  Age  \
0     4566010041          11         0       0                   0     0   32
1     7563277100          12         1       0                   0     0   26
2      901750037           3         1       0                   0     0   26
3     5969184373           6         1       1                   0     0   40
4     3294917953          12         1       1                   0     1   41
...          ...         ...       ...     ...                 ...   ...  ...
4003  7063732531          11         1       0                   0     4   28
4004  3791440830           7         1       0                   0     0   27
4005  9839227290          12         0       1                   0     0   25
4006  4362113509           5         2       1                   0     4   41
4007           1           2         4       1                   0     0   32

      Education  Working Location  City  ...  Emp. Type  Salary  \
0             1                 0    18  ...          0       2
1             1                 0     3  ...          0       2
2             1                 0     0  ...          0       0
3             1                 0    19  ...          0       2
4             1                 0    15  ...          0       0
...         ...               ...   ...  ...        ...     ...
4003          1                 0     8  ...          0       0
4004          1                 1    11  ...          0       0
4005          2                 0    20  ...          0       2
4006          2                 1    17  ...          0       1
4007          2                 1    11  ...          0       2

      Years of Service  Active_Inactive  Job Satisfaction  Work Life Balance  \
0                    5                0                 4                  1
1                   10                0                 2                  3
2                    5                0                 3                  3
3                    2                0                 3                  3
4                    8                0                 2                  3
...                ...              ...               ...                ...
4003                 0                1                 2                  3
4004                 4                0                 3                  0
4005                 2                0                 2                  2
4006                 3                0                 3                  1
4007                 5                0                 1                  2

      Years Since Last Promotion  Performance Rating  Hire Year Term Year
0                              0                   3       2017      0000
1                              1                   4       2012      0000
2                              0                   3       2017      0000
3                              0                   3       2020      0000
4                              2                   3       2014      0000
...                          ...                 ...        ...       ...
4003                           0                   2       2016      2017
4004                           1                   3       2018      0000
4005                           2                   3       2020      0000
4006                           3                   3       2019      0000
4007                           3                   2       2017      0000

[4008 rows x 21 columns]

In [27]:
df.to_csv('people_data_complete.csv', index=False)

In [28]:
# import dataframe
df = pd.read_csv("people_data_complete.csv")

In [29]:
# Rename specific columns
df = df.rename(columns={'Active_Inactive': 'Status'})
# Print the updated DataFrame
print(df)

         Emp. ID  Department  Position  Gender  Sexual Orientation  Race  Age  \
0     4566010041          11         0       0                   0     0   32
1     7563277100          12         1       0                   0     0   26
2      901750037           3         1       0                   0     0   26
3     5969184373           6         1       1                   0     0   40
4     3294917953          12         1       1                   0     1   41
...          ...         ...       ...     ...                 ...   ...  ...
4003  7063732531          11         1       0                   0     4   28
4004  3791440830           7         1       0                   0     0   27
4005  9839227290          12         0       1                   0     0   25
4006  4362113509           5         2       1                   0     4   41
4007           1           2         4       1                   0     0   32

      Education  Working Location  City  ...  Emp. Type  Salary  \
0             1                 0    18  ...          0       2
1             1                 0     3  ...          0       2
2             1                 0     0  ...          0       0
3             1                 0    19  ...          0       2
4             1                 0    15  ...          0       0
...         ...               ...   ...  ...        ...     ...
4003          1                 0     8  ...          0       0
4004          1                 1    11  ...          0       0
4005          2                 0    20  ...          0       2
4006          2                 1    17  ...          0       1
4007          2                 1    11  ...          0       2

      Years of Service  Status  Job Satisfaction  Work Life Balance  \
0                    5       0                 4                  1
1                   10       0                 2                  3
2                    5       0                 3                  3
3                    2       0                 3                  3
4                    8       0                 2                  3
...                ...     ...               ...                ...
4003                 0       1                 2                  3
4004                 4       0                 3                  0
4005                 2       0                 2                  2
4006                 3       0                 3                  1
4007                 5       0                 1                  2

      Years Since Last Promotion  Performance Rating  Hire Year  Term Year
0                              0                   3       2017          0
1                              1                   4       2012          0
2                              0                   3       2017          0
3                              0                   3       2020          0
4                              2                   3       2014          0
...                          ...                 ...        ...        ...
4003                           0                   2       2016       2017
4004                           1                   3       2018          0
4005                           2                   3       2020          0
4006                           3                   3       2019          0
4007                           3                   2       2017          0

[4008 rows x 21 columns]

In [30]:
df.to_csv('people_data_complete.csv', index=False)

In [31]:
# import dataframe
df = pd.read_csv("people_data_complete.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Emp. ID                     4008 non-null   int64
 1   Department                  4008 non-null   int64
 2   Position                    4008 non-null   int64
 3   Gender                      4008 non-null   int64
 4   Sexual Orientation          4008 non-null   int64
 5   Race                        4008 non-null   int64
 6   Age                         4008 non-null   int64
 7   Education                   4008 non-null   int64
 8   Working Location            4008 non-null   int64
 9   City                        4008 non-null   int64
 10  Marital Status              4008 non-null   int64
 11  Emp. Type                   4008 non-null   int64
 12  Salary                      4008 non-null   int64
 13  Years of Service            4008 non-null   int64
 14  Status                      4008 non-null   int64
 15  Job Satisfaction            4008 non-null   int64
 16  Work Life Balance           4008 non-null   int64
 17  Years Since Last Promotion  4008 non-null   int64
 18  Performance Rating          4008 non-null   int64
 19  Hire Year                   4008 non-null   int64
 20  Term Year                   4008 non-null   int64
dtypes: int64(21)
memory usage: 657.7 KB